{{#if noProducts}}
<h5>Không có sản phẩm nào</h5>
{{else}}
<div class="span10">
    <ul class="thumbnail">
    {{#each products}}
    <li class="span2">
        <div class="thumbnail">
            <a href="/product/detail/{{ProID}}"><img src="/themes/images/data/{{ProID}}.jpg" alt="{{ProName}}"/></a>
            <div class="caption">
                <h5>{{ProName}}</h5>
                <p>{{Price}}</p>
                <h4 style="text-align:center">
                    <a class="btn" href="/product/detail/{{ProID}}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a>
                </h4>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
</div>
<ul class="pagination">
	<li class="disabled">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li>
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
{{/if}}